{% extends 'base.html' %}


<!-- base.html에 있지만 적용이 안됨 -->
{% load static %}

{% block head_title %}마이페이지{% endblock %}
{% block navbar_title %}마이페이지{% endblock %}
{% block main_area %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'member/css/mypage_orderlist.css' %}">
{% endblock %}
<!-- 모달 -->


<div style="width:80%; margin-left:auto; margin-right:auto; ">
    <div style="border-bottom:5px solid #8E8455; margin-top:5%; margin-left:auto; margin-right: auto;">
        <button type="submit" style="background-color:#8E8455; color:white; min-width:8rem; min-height:3rem; font-family: 'SBAggroM', 'serif'; font-size:1.2rem; border:none; padding-top:0.3rem;">주문내역</button>
        <button type="submit" style="background-color:white; color:#8E8455; min-width:8rem; min-height:3rem; font-family: 'SBAggroM', 'serif'; font-size:1.2rem; border:none; padding-top:0.3rem; margin-left:1rem;">사용자 정보 수정</button>
    </div>

    <div style="margin-top: 30px; ">
        <span style="font-family: 'SBAggroB', 'serif'; font-size:3rem; vertical-align: middle;">주문 내역</span>
        <span style="display:inline-block; vertical-align: middle;">
            <select class="sort-list col-auto form-select form-select-sm w-auto" aria-label="정렬 선택">
                <option selected value="order_count">내역순</option>
                <option value="recent">최신순</option>
                <option value="nickname">이름순</option>
            </select>
        </span>
    </div>

    <div class="flex-container">
        <!-- 반복할 구간 -->
        <table>
            <tr>
                <td colspan="2" style="padding-left:1.2rem; padding-top:3%;"><span style="font-size: 1.2rem; vertical-align: bottom;">2021년 10월 23일</span><span style="font-size:0.2rem; vertical-align: bottom;">&nbsp;&nbsp;배달중..</span></td>
                
            </tr>
            <tr style="height:2rem;">
                <td colspan="2" style="padding-left:1.2rem; padding-right:1.2rem; color:rgb(184, 184, 184); font-size:0.8rem; vertical-align: middle;">우유 1L, 계란 1판, 밀가루 한봉지, 설탕 500g, 쌀 5kg</td>
            </tr>
            <tr style="height:2rem;">
                <td colspan="2" style="padding-left:1.2rem; vertical-align: middle;"><i class="star-empty far fa-star"></i><i class="star-empty far fa-star"></i><i class="star-empty far fa-star"></i><i class="star-empty far fa-star"></i><i class="star-empty far fa-star"></i></td>
            </tr>
            
            <tr style="text-align: right; height:5rem;">
                <td style="vertical-align: bottom; padding-bottom:0.85rem; width:20rem;">
                    <a href="#" class="btn-review" >리뷰 작성하기</a>
                </td>
                
                <td style="vertical-align: bottom; padding-bottom:0.85rem;"
>
                    <a id="testBtn"  href="#" class="btn-detail">상세 보기</a>
                </td>
            </tr>
        </table>
        <!-- 반복종료 -->
        <!-- 반복할 구간 -->
        <table>
            <tr>
                <td colspan="2" style="padding-left:1.2rem; padding-top:3%;"><span style="font-size: 1.2rem; vertical-align: bottom;">2021년 10월 23일</span><span style="font-size:0.2rem; vertical-align: bottom;">&nbsp;&nbsp;배달중..</span></td>
                
            </tr>
            <tr style="height:2rem;">
                <td colspan="2" style="padding-left:1.2rem; padding-right:1.2rem; color:rgb(184, 184, 184); font-size:0.8rem; vertical-align: middle;">우유 1L, 계란 1판, 밀가루 한봉지, 설탕 500g, 쌀 5kg</td>
            </tr>
            <tr style="height:2rem;">
                <td colspan="2" style="padding-left:1.2rem; vertical-align: middle;"><i class="star-empty far fa-star"></i><i class="star-empty far fa-star"></i><i class="star-empty far fa-star"></i><i class="star-empty far fa-star"></i><i class="star-empty far fa-star"></i></td>
            </tr>
            
            <tr style="text-align: right; height:5rem;">
                <td style="vertical-align: bottom; padding-bottom:0.85rem; width:20rem;">
                    <a href="#" class="btn-review" >리뷰 작성하기</a>
                </td>
                
                <td style="vertical-align: bottom; padding-bottom:0.85rem;">
                    <a href="#" class="btn-detail">상세 보기</a>
                </td>
            </tr>
        </table>
        <!-- 반복종료 -->
         <!-- 반복할 구간 -->
         <table>
            <tr>
                <td colspan="2" style="padding-left:1.2rem; padding-top:3%;"><span style="font-size: 1.2rem; vertical-align: bottom;">2021년 10월 23일</span><span style="font-size:0.2rem; vertical-align: bottom;">&nbsp;&nbsp;배달중..</span></td>
                
            </tr>
            <tr style="height:2rem;">
                <td colspan="2" style="padding-left:1.2rem; padding-right:1.2rem; color:rgb(184, 184, 184); font-size:0.8rem; vertical-align: middle;">우유 1L, 계란 1판, 밀가루 한봉지, 설탕 500g, 쌀 5kg</td>
            </tr>
            <tr style="height:2rem;">
                <td colspan="2" style="padding-left:1.2rem; vertical-align: middle;"><i class="star-empty far fa-star"></i><i class="star-empty far fa-star"></i><i class="star-empty far fa-star"></i><i class="star-empty far fa-star"></i><i class="star-empty far fa-star"></i></td>
            </tr>
            
            <tr style="text-align: right; height:5rem;">
                <td style="vertical-align: bottom; padding-bottom:0.85rem; width:20rem;">
                    <a href="#" class="btn-review" >리뷰 작성하기</a>
                </td>
                
                <td style="vertical-align: bottom; padding-bottom:0.85rem;">
                    <a href="#" class="btn-detail">상세 보기</a>
                </td>
            </tr>
        </table>
        <!-- 반복종료 -->
    </div>
</div>

<!-- 모달 -->
<div class="modal" tabindex="-1" id="testModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">주문 상세</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div style="border-bottom: 3px solid rgb(214, 214, 214);">
                <div style="display:flex; justify-content: space-between;">
                    <p>주문 날짜</p>
                    <p>2020년 10월 23일</p>
                </div>
                <div style="display:flex; justify-content: space-between;">
                    <p>배달원</p>
                    <p >abcdeft</p>
                </div>
                <div style="display:flex; justify-content: space-between;">
                    <p>배달 상태</p>
                    <p >배달 완료</p>
                </div>
            </div>
            <p>요청 품목</p>
            <p>우유 1L</p>
            <p>계란 1판</p>
            <p>밀가루 1봉지</p>
            <p>설탕 500g</p>
            <p>쌀 5kg</p>
            
            
        </div>
        <div class="modal-footer" style="height:100px; background-color: #9ccfd9;">
            <!-- 모달 닫기 -->
            <!-- <button type="button" class="btn" data-bs-dismiss="modal">Close</button> -->
        
        </div>
      </div>
    </div>
  </div>

<script>
    $('#testBtn').click(function(e){
            e.preventDefault();
            $('#testModal').modal("show");
    });
</script>

{% endblock %}