{% extends 'base.html' %}

{% block head_title %}장봐구니 마이페이지{% endblock %}
{% block navbar_title %}마이페이지{% endblock %}
{% block main_area %}
<div class="container">
    <div class="d-flex flex-column my-5 mx-5">
        <ul class="nav nav-tabs">
            <li class="nav-item" id="orderlist-tab">
                <a class="nav-link active" data-bs-toggle="tab" data-bs-target="#orderlist" href="#">주문 내역</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#deliverylist" href="#">배달 내역</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#useredit" href="#">사용자 정보 수정</a>
            </li>
        </ul>
        <div class="tab-content my-5">

            <div class="tab-pane container active" id="orderlist">
                <div class="row align-items-center">
                    <div class="col-auto text-subtitle">주문 내역</div>
                    <div class="col-auto">
                        <select class="form-select rounded-0 w-auto bg-browngrey text-white">
                            <option selected value="recent">최근순</option>
                            <option value="distance">거리순</option>
                        </select>
                    </div>
                </div>

                <div class="row justify-content-evenly my-3">
                    <div class="col-5 border">
                        <div class="my-3">
                            <div class="row align-items-end">
                                <div class="col-auto fs-5 fw-bold">2021년 10월 27일</div>
                                <div class="col-auto gx-0 text-secondary text-sm">배달중...</div>
                            </div>
                            <div class="text-xs my-1">
                                우유 1L, 계란 1판, 밀가루 한봉지, 설탕 500g, 쌀 5kg
                            </div>
                            <div class="my-1">
                                ★★★★★
                            </div>
                        </div>
                        
                        <div class="row justify-content-end">
                            <a class="col-auto btn btn-lg rounded-0 bg-khaki text-white">리뷰 작성하기</a>
                            <a class="col-auto btn btn-lg rounded-0 bg-sandybrown text-white">상세보기</a>
                        </div>
                    </div>
        
                    <div class="col-5 border">
                        <div class="my-3">
                            <div class="row align-items-end">
                                <div class="col-auto fs-5 fw-bold">2021년 10월 27일</div>
                                <div class="col-auto gx-0 text-secondary text-sm">배달 완료</div>
                            </div>
                            <div class="text-xs my-1">
                                우유 1L, 계란 1판, 밀가루 한봉지, 설탕 500g, 쌀 5kg
                            </div>
                            <div class="my-1">
                                ★★★★★
                            </div>
                        </div>
                        
                        <div class="row justify-content-end">
                            <a class="col-auto btn btn-lg rounded-0 bg-khaki text-white">리뷰 작성하기</a>
                            <a class="col-auto btn btn-lg rounded-0 bg-sandybrown text-white">상세보기</a>
                        </div>
                    </div>  
                </div>
                <a class="d-flex justify-content-center my-5" href="#">더보기...</a>
            </div>

            <div class="tab-pane container" id="deliverylist">
                <div class="row justify-content-evenly mb-3">
                    <div class="row align-items-center">
                        <div class="col-auto text-subtitle">배달 내역</div>
                        <div class="col-auto">
                            <select class="form-select rounded-0 w-auto bg-browngrey text-white">
                                <option selected value="recent">최근순</option>
                                <option value="distance">거리순</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-5 border my-3 pt-3">
                        <div class="col-auto fs-5 fw-bold">충청남도 천안시 동남구 병천면 충절로</div>
                        <div class="row align-items-baseline gx-2">
                            <div class="col-auto text-secondary text-sm">2021년 10월 27일</div>
                            <div class="col-auto text-secondary text-xs">12.37 km</div>
                        </div>
                        <div class="text-xs my-1">
                            우유 1L, 계란 1판, 밀가루 한봉지, 설탕 500g, 쌀 5kg
                        </div>
                        <div class="my-1">
                            ★★★★★
                        </div>
                        <div class="row my-3 justify-content-between align-items-center">
                            <div class="col-auto fs-3 fw-bold">2,000 원</div>
                        </div>
                        <div class="row justify-content-end">
                            <a class="col-auto btn btn-lg rounded-0 bg-khaki text-white">리뷰 작성하기</a>
                            <a class="col-auto btn btn-lg rounded-0 bg-sandybrown text-white">상세보기</a>
                        </div>
                    </div>

                    <div class="col-5 border my-3 pt-3">
                        <div class="col-auto fs-5 fw-bold">충청남도 천안시 동남구 병천면 충절로</div>
                        <div class="row align-items-baseline gx-2">
                            <div class="col-auto text-secondary text-sm">2021년 10월 27일</div>
                            <div class="col-auto text-secondary text-xs">12.37 km</div>
                        </div>
                        <div class="text-xs my-1">
                            우유 1L, 계란 1판, 밀가루 한봉지, 설탕 500g, 쌀 5kg
                        </div>
                        <div class="my-1">
                            ★★★★★
                        </div>
                        <div class="row my-3 justify-content-between align-items-center">
                            <div class="col-auto fs-3 fw-bold">2,000 원</div>
                        </div>
                        <div class="row justify-content-end">
                            <a class="col-auto btn btn-lg rounded-0 bg-khaki text-white">리뷰 작성하기</a>
                            <a class="col-auto btn btn-lg rounded-0 bg-sandybrown text-white">상세보기</a>
                        </div>
                    </div>

                </div>
                <a class="d-flex justify-content-center my-5" href="#">더보기...</a>
            </div>

            <div class="tab-pane container" id="useredit">
                <div class="col-md-7 mb-5 pb-5">
                    <div class="text-subtitle">비밀번호 변경</div>
                    <div class="ms-2 my-3">
                        <div class="row align-items-center">
                            <label for="password" class="col-4 col-form-label fw-bold">새 비밀번호</label>
                            <div class="col my-2">
                                <input id="password" class="form-control rounded-0" placeholder="비밀번호 입력" />
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <label for="password-again" class="col-4 col-form-label fw-bold">새 비밀번호 확인</label>
                            <div class="col my-2">
                                <input id="password-again" class="form-control rounded-0" placeholder="비밀번호 재입력" />
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn rounded-0 bg-browngrey text-white float-end">변경</button>
                </div>
                <div class="col-md-7 my-5">
                    <div class="text-subtitle">닉네임 변경</div>
                    <div class="row align-items-center ms-2 my-3">
                        <label for="password" class="col-4 col-form-label fw-bold">새 닉네임</label>
                        <div class="col my-2">
                            <input id="password" class="form-control rounded-0" placeholder="닉네임 입력" />
                        </div>
                    </div>
                    <button type="submit" class="btn rounded-0 bg-browngrey text-white float-end">변경</button>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
