{% extends 'base.html' %}

{% block head_title %}선착순 배송{% endblock %}
{% block navbar_title %}선착순 배송{% endblock %}
{% block main_area %}
<style>
    .hidden {
        display: none;
    }
</style>

<div class="container">
    <div class="d-flex flex-column my-5 mx-5" method="post">
        <div id="sub_title" class="row align-items-end">
            <div class="col-auto fs-2 fw-bold align-baseline">요청 목록</div>
            <select class="col-auto form-select form-select-sm w-auto" aria-label="정렬 선택">
                <option selected value="distance">거리순</option>
                <option value="recent">최근순</option>
            </select>
        </div>
        <div id="order_lists" class="my-3">

            <!-- 여기부터 손댐 -->
            {% for list in order_list %}
            <!-- {% for l in order %} -->
            <div class="row justify-content-evenly my-3">
                
                <!-- {% endfor %} -->
        
                
                <div class="col-5 border p-3 this" id="disappear" style="position: relative;">
                    <div class="row align-items-center">
                        <div class="col-auto fw-bold">{{ list.cus_address }}</div>
                        <!--일단 cus_address는 둘 다 경기도라서 일단 cus_name으로 구분이 편하게 해둠-->
                        <div class="col-auto gx-0 text-secondary text-sm">12.37 km</div>
                    </div>
                    <div class="text-xs my-1">
                        {{ list.order_product }}
                    </div>
                    <div class="text-xs my-1">
                        ★3.9 (352개)
                    </div>
                    <div class="row mt-3 mb-5 justify-content-between align-items-center">
                        <div class="col-auto fs-3 fw-bold">2,000 원</div>
                    </div>
                
                    <!-- 배송하기 눌러 모달이 뜨고 배송 출발을 누르면 버튼이 배송 출발로 바뀜 -->
                    <input class="btn btn-lg btn-primary open" type='button' id='btn-go'
                        style="position: absolute; right: 0px; bottom: 0px; border: 0; outline: 0;" href="#mymodal" value='배송하기' />
                
                    <div class="modal hidden" id="mymodal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">배송 상세정보</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <p><strong>주문한 사람</strong>: {{ list.cus_name }}</p>
                                        <p><strong>배송 주소</strong>: {{ list.cus_address }}</p>
                                        <p><strong>주문 물품</strong>: {{ list.order_product }}</p>
                                        <p><strong>요청 사항</strong>: {{ list.order_message }}</p>
                                    </div>
                
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary btn-rej" data-bs-dismiss="modal">배송 거절</button>
                                    <button type="button" class="btn btn-primary btn-close2" onclick="changename()">배송 출발</button>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <script>
                        const modal = document.querySelector('#mymodal');
                        const btnOpenPopup = document.querySelector('.btn-lg');
                        const close = document.querySelector(".btn-close");
                        const close2 = document.querySelector(".btn-close2");
                        // const rejection = document.querySelector(".btn-rej");

                        const open = document.querySelector(".open");
                        const start = document.querySelector(".start");

                        const disappear = document.querySelector("#disappear");

                        btnOpenPopup.addEventListener('click', () => {  // '배송하기' 눌러 모달창 열기
                            modal.style.display = 'block';
                        })
                        close.addEventListener('click', () => {         // x 누르면 모달창 닫기
                            modal.style.display = 'none';
                        })
                        close2.addEventListener('click', () => {        // '배송출발' 누르면 모달창 닫기
                            // '배송출발' 누르면 버튼 색 바뀜
                            // const btnElement = document.getElementById('btn-go')
                            // btnElement.style.backgroundColor = "#E8995B";
                            modal.style.display = 'none';
                            disappear.style.display='none';
                            disappear.hide();
                        })
                        $('button.btn-rej').click(function () {
                            modal.style.display = 'none';               // '배송거절' 누르면 모달창 사라지게
                            disappear.style.display = 'none';
                            disappear.hide();
                        })

                        // '배송출발' 누르면 '배송하기' -> '배송확정'
                        // function changename() {
                        //     const btnElement = document.getElementById('btn-go');
                        //     btnElement.value = "배송확정";
                        // }
                    </script>
                
                </div>
            {% endfor %}

            </div>
            
            <!-- </div> -->
            <!-- <div class="row justify-content-evenly my-3">
                <div class="col-5 border p-3" style="position: relative;">
                    <div class="row align-items-center">
                        <div class="col-auto fw-bold">충청남도 천안시 동남구 병천면 충절로</div>
                        <div class="col-auto gx-0 text-secondary text-sm">12.37 km</div>
                    </div>
                    <div class="text-xs my-1">
                        우유 1L, 계란 1판, 밀가루 한봉지, 설탕 500g, 쌀 5kg
                    </div>
                    <div class="text-xs my-1">
                        ★3.9 (352개)
                    </div>
                    <div class="row mt-3 mb-5 justify-content-between align-items-center">
                        <div class="col-auto fs-3 fw-bold">2,000 원</div>
                    </div>
                    <a class="btn btn-lg btn-primary" style="position: absolute; right: 0px; bottom: 0px;">배송하기</a>
                </div>

                <div class="col-5 border p-3" style="position: relative;">
                    <div class="row align-items-center">
                        <div class="col-auto fw-bold">충청남도 천안시 동남구 병천면 충절로</div>
                        <div class="col-auto gx-0 text-secondary text-sm">12.37 km</div>
                    </div>
                    <div class="text-xs my-1">
                        우유 1L, 계란 1판, 밀가루 한봉지, 설탕 500g, 쌀 5kg
                    </div>
                    <div class="text-xs my-1">
                        ★3.9 (352개)
                    </div>
                    <div class="row mt-3 mb-5 justify-content-between align-items-center">
                        <div class="col-auto fs-3 fw-bold">2,000 원</div>
                    </div>
                    <a class="btn btn-lg btn-primary" style="position: absolute; right: 0px; bottom: 0px;">배송하기</a>
                </div>
            </div> -->

            <!-- <div class="row justify-content-evenly my-3">
                <div class="col-5 border p-3" style="position: relative;">
                    <div class="row align-items-center">
                        <div class="col-auto fw-bold">충청남도 천안시 동남구 병천면 충절로</div>
                        <div class="col-auto gx-0 text-secondary text-sm">12.37 km</div>
                    </div>
                    <div class="text-xs my-1">
                        우유 1L, 계란 1판, 밀가루 한봉지, 설탕 500g, 쌀 5kg
                    </div>
                    <div class="text-xs my-1">
                        ★3.9 (352개)
                    </div>
                    <div class="row mt-3 mb-5 justify-content-between align-items-center">
                        <div class="col-auto fs-3 fw-bold">2,000 원</div>
                    </div>
                    <a class="btn btn-lg btn-primary" style="position: absolute; right: 0px; bottom: 0px;">배송하기</a>
                </div>

                <div class="col-5 border p-3" style="position: relative;">
                    <div class="row align-items-center">
                        <div class="col-auto fw-bold">충청남도 천안시 동남구 병천면 충절로</div>
                        <div class="col-auto gx-0 text-secondary text-sm">12.37 km</div>
                    </div>
                    <div class="text-xs my-1">
                        우유 1L, 계란 1판, 밀가루 한봉지, 설탕 500g, 쌀 5kg
                    </div>
                    <div class="text-xs my-1">
                        ★3.9 (352개)
                    </div>
                    <div class="row mt-3 mb-5 justify-content-between align-items-center">
                        <div class="col-auto fs-3 fw-bold">2,000 원</div>
                    </div>
                    <a class="btn btn-lg btn-primary" style="position: absolute; right: 0px; bottom: 0px;">배송하기</a>
                </div>
            </div> 

            <div class="row justify-content-evenly my-3">
                <div class="col-5 border p-3" style="position: relative;">
                    <div class="row align-items-center">
                        <div class="col-auto fw-bold">충청남도 천안시 동남구 병천면 충절로</div>
                        <div class="col-auto gx-0 text-secondary text-sm">12.37 km</div>
                    </div>
                    <div class="text-xs my-1">
                        우유 1L, 계란 1판, 밀가루 한봉지, 설탕 500g, 쌀 5kg
                    </div>
                    <div class="text-xs my-1">
                        ★3.9 (352개)
                    </div>
                    <div class="row mt-3 mb-5 justify-content-between align-items-center">
                        <div class="col-auto fs-3 fw-bold">2,000 원</div>
                    </div>
                    <a class="btn btn-lg btn-primary" style="position: absolute; right: 0px; bottom: 0px;">배송하기</a>
                </div>

                <div class="col-5 border p-3" style="position: relative;">
                    <div class="row align-items-center">
                        <div class="col-auto fw-bold">충청남도 천안시 동남구 병천면 충절로</div>
                        <div class="col-auto gx-0 text-secondary text-sm">12.37 km</div>
                    </div>
                    <div class="text-xs my-1">
                        우유 1L, 계란 1판, 밀가루 한봉지, 설탕 500g, 쌀 5kg
                    </div>
                    <div class="text-xs my-1">
                        ★3.9 (352개)
                    </div>
                    <div class="row mt-3 mb-5 justify-content-between align-items-center">
                        <div class="col-auto fs-3 fw-bold">2,000 원</div>
                    </div>
                    <a class="btn btn-lg btn-primary" style="position: absolute; right: 0px; bottom: 0px;">배송하기</a>
                </div>
            </div>
        -->
        </div>
    </div>
</div>
{% endblock %}