{% extends 'base.html' %}

{% load static %}

{% block head_title %}주문 확인{% endblock %}
{%block navbar_title %}주문 확인{% endblock %}
{% block main_area %}

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->

<link rel="stylesheet" href="../../static/delivery/css/confirm.css"/>

<div class="table-container">

    <div class="card">
        <div class="card-header">
            주문 시간: 
        </div>
        <div class="card-body">
            <h5 class="card-title">충청남도 아산시 순천향로 123-543</h5>
            <p class="card-text">달걀 5개, 우유 900ml</p>
            <a href="#" class="btn btn-primary btncolor">배달 출발</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            주문 시간: 
        </div>
        <div class="card-body">
            <h5 class="card-title">충청남도 아산시 순천향로 123-543</h5>
            <p class="card-text">달걀 5개, 우유 900ml</p>
            <a href="#" class="btn btn-primary btncolor">배달 출발</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            주문 시간: 
        </div>
        <div class="card-body">
            <h5 class="card-title">충청남도 아산시 순천향로 123-543</h5>
            <p class="card-text">달걀 5개, 우유 900ml</p>
            <a href="#" class="btn btn-primary btncolor">배달 출발</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            주문 시간: 
        </div>
        <div class="card-body">
            <h5 class="card-title">충청남도 아산시 순천향로 123-543</h5>
            <p class="card-text">달걀 5개, 우유 900ml</p>
            <a href="#" class="btn btn-primary btncolor">배달 출발</a>
        </div>
    </div>

</div>
{% endblock %} 