{% extends 'base.html' %} 

{% load static %}
{% block head_title %}주문하기{% endblock %}
{% block navbar_title %}주문하기{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'orderrequest/css/order_cus.css' %}">

    <!-- 구글 icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
{% endblock %}

{% block main_area %}
<!-- 천단위 콤마 추가 -->
<script>
     function inputNumberFormat(obj) {
     obj.value = comma(uncomma(obj.value));
 }

 function comma(str) {
     str = String(str);
     return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
 }

 function uncomma(str) {
     str = String(str);
     return str.replace(/[^\d]+/g, '');
 }
</script>

<!-- 기타 품목 테이블에 행 추가 -->
<script>
    function addRow(){
        $('#first-row .order-list').clone().find('input').val('').end().appendTo('#repeat-list');
    }
    function removeRow(){
        $('#repeat-list .order-list').last().remove();
    }
</script>

<!-- 본문 -->
<div class="container-flex-box">



<article class="section" id="container-left">
<table id="order-paper-table-1" style="display:inline-flex;">
    <tr>
        <th class="th-paper-table">
            주문 내역
        </th>
        <td class="sub-th">
            인기 품목
        </td>
        <td class="sub-td">
            <select name="popular-list" value="선택하세요">
                <option value="">선택하세요</option>
                <optgroup label="음료수">
                    <option vallue="">1/파워에이드</option>
                    <option value="">1/헛개수</option>
                    <option value="">1/허쉬초코우유</option>
                </optgroup>
                <optgroup label="과자">
                    <option value="">1/죠리퐁</option>
                </optgroup>
            </select>
            <P style="color:rgb(182, 182, 182); font-size:0.3rem;">
                <svg xmlns="http://www.w3.org/2000/svg" height="14px" viewBox="0 0 24 24" width="16px" fill="rgb(182, 182, 182)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
                <!-- <span class="material-icons-outlined">info</span> -->
                선택하면 자동으로 추가됩니다.</P>
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="sub-th">
            기타 품목
        </td>

        <td class="sub-td" style="width:25rem;">
            <table id="order-detail-table-1" style="min-width: 400px;">
                <th style="text-align: center;">수량</th>
                <th style="text-align: center;">품목명</th>
                <th style="text-align: center;">구매소</th>
                <th style="text-align: center;">가격</th>

                <!-- 반복할 구간 -->
                <tbody id="first-row">
                <tr class="order-list" style="vertical-align: center; background-color: #D4E2C2; border-bottom:1px solid white;">
                    <td style="border-right: 1px solid white;  max-width:120px;"><input name="input-quantity" type="number" aria-label="수량" class="form-control" style="background-color: #D4E2C2;"></td>
                    <td style="border-right: 1px solid white; min-width: 150px;"><input name="input-item" type="text" aria-label="품목" class="form-control" style="background-color: #D4E2C2;"></td>
                    <td style="border-right: 1px solid white;"><input name="input-location" type="text" aria-label="구매소" class="form-control" style="background-color: #D4E2C2;"></td>
                    <td style="border-right: 1px solid white;"><input id="input-price" name="input-price" type="text" aria-label="가격" class="form-control" style="background-color: #D4E2C2;" onkeyup="inputNumberFormat(this)"></td>
                </tr>
                </tbody>
                <!-- 반복 종료 -->
                <!-- <div id="repeat-list"></div> -->
                <tbody id="repeat-list">
                </tbody>
            </table>
        </td>
    </tr>
    <tr">
        <td></td>
        <td></td>
        <td>
            <button onclick='addRow()' value="행추가" id="btn-add" type="button">&nbsp + 추가 &nbsp</button>
            <button onclick='removeRow()' value="행제거" id="btn-add" type="button">&nbsp - 삭제 &nbsp</button>
        </td>
    </tr>

    <tr>
        <td>&nbsp</td>
    </tr>
    <tr>
        <td>&nbsp</td>
    </tr>

    <th class="th-paper-table">배송지 정보</th>
    <td class="sub-th">배송지명</td>
    <td class="sub-td">
        <select name="address-list" value="">
            <option value="">집</option>
            <option value="">자취방</option>
            <option value="">기숙사</option>
        </select>
    </td>
    <tr>
        <td></td>
        <td class="sub-th">주문자명</td>
        <td class="sub-td">
            <input name="input-cus" type="text" aria-label="주소" class="form-control" style="background-color: #D4E2C2;" placeholder="주문자명">
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="sub-th">연락처</td>
        <td class="sub-td">
            <input name="input-phone" type="text" aria-label="주소" class="form-control" style="background-color: #D4E2C2;" placeholder="연락처">
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="sub-th">주소</td>
        <td class="sub-td">
            <div class="sub-td input-group">
                <input name="input-adress" type="text" aria-label="주소" class="form-control" style="background-color: #D4E2C2;" placeholder="주소">
                <input name="input-post" type="text" aria-label="우편번호" class="form-control" style="background-color: #D4E2C2; max-width:100px;" placeholder="우편번호">
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="sub-th">요청사항</td>
        <td class="sub-td">
            <input name="input-etc" type="text" aria-label="요청사항" class="form-control" style="background-color: #D4E2C2;" placeholder="예) 배송 전 연락주세요">
        </td>
        
        <!-- <td class="sub-td" style="background-color: #D4E2C2;">문 앞에 놓아주세요.</td> -->
    </tr>

   
    <tr>
        <td>&nbsp</td>
    </tr>
    <tr>
        <td>&nbsp</td>
    </tr>



    <th class="th-paper-table">결제 정보</th>
    <td class="sub-th">상품 가격</td>
    <td class="sub-td" >20,000원</td>
    <tr>
        <td></td>
        <td class="sub-th">쿠폰 사용</td>
        <td class="sub-td">첫 구매 할인 (-2,000)</td>
    </tr>
    <tr>
        <td></td>
        <td class="sub-th">포인트 사용</td>
        <td class="sub-td input-point">
            <span style="text-align: left; vertical-align: center;">3,000</span>
            <span style="text-align: right;">(사용 가능 적립금 4,500)</span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="sub-th">배달료</td>
        <td class="sub-td">0</td>
    </tr>
    <tr>
        <td></td>
        <td class="sub-th">결제 수단</td>
        <td class="sub-td">
            <table>
                <tr>
                    <td>카드 결제</td>
                    <td>무통장 입금</td>
                    <td>휴대전화</td>
                </tr>
                <tr>
                    <td>카카오 페이</td>
                    <td>네이버 페이</td>
                </tr>
            </table>
        </td>
    </tr>

    <td colspan="3" style="text-align: center; padding-top:30px;">결제 금액의 일부는 장봐구니 라이더에게 전달됩니다<br>
        주문 내용을 확인하였으며, 개인정보 수집 정보 제공에 동의합니다</td>

</table>
</article>

<article class="section" id="container-right">
    <div class="rider-info">
        <p style="font-family:'SBAggroB', 'serif'; font-size:1.4rem; margin-bottom:10px;">배달원 정보</p>
        <div class="profile-box">
            <img src="{% static 'orderrequest/images/donut-image.jpg' %}" class="profile-image" alt="프로필사진">
        </div>
        <p style="margin-bottom:6px;">스피드 <i class="star-filled fas fa-star"></i><i class="star-filled fas fa-star"></i><i class="star-filled fas fa-star"></i></p>
        <p style="margin-bottom:6px;">신선도 <i class="star-filled fas fa-star"></i><i class="star-filled fas fa-star"></i><i class="star-filled fas fa-star"></i></p>
        <p style="margin-bottom:6px;">정확도 <i class="star-filled fas fa-star"></i><i class="star-filled fas fa-star"></i><i class="star-filled fas fa-star" style="color:gray;"></i></p>
    </div>

    <div style="align-items: center;">
        <table class="credit-table table">
            <tbody> 
              <tr>
                <td scope="row" style="text-align: right; max-width:80px;
                ">기본가격</td>
                <td >20,000원</td>
              </tr>
              <tr>
                <td scope="row" style="text-align: right; max-width:80px;">할인가격</td>
                <td>-2,000원</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>-3,000원</td>
              </tr>
              <tr>
                <td scope="row" style="text-align: right; max-width:80px;" >배송가격</td>
                <td>+2,000원</td>
              </tr>
              <tr style="border-top: white solid 2px !important;">
                <td scope="row" style="text-align: right; max-width:80px;">최종 결제금액</td>
                <td style="color:red; font-size:1.4rem;">17,000원</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div>
        <button id="btn-pay" type="submit">결제하기</button>
    </div>

</article>
</div>

{% endblock %}

