{% extends 'base.html' %}
{% load static %}
{% block head_title %}주문하기{% endblock %}
{% block navbar_title %}주문하기{% endblock %}
<head>
<!-- 구글 icon -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
</head>
{% block main_area %}
<div class="container-flex-box">



<article class="section" id="container-left">
<table id="order-paper-table-1" style="display:inline-flex;">
    <tr>
        <th class="th-paper-table">
            주문 내역
        </th>
        <td class="sub-th">
            인기 품목
        </td>
        <td class="sub-td">
            <select name="popular-list" value="선택하세요">
                <option value="">선택하세요</option>
                <optgroup label="음료수">
                    <option vallue="">1/파워에이드</option>
                    <option value="">1/헛개수</option>
                    <option value="">1/허쉬초코우유</option>
                </optgroup>
                <optgroup label="과자">
                    <option value="">1/죠리퐁</option>
                </optgroup>
            </select>
            <P style="color:rgb(182, 182, 182);">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11 7h2v2h-2zm0 4h2v6h-2zm1-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
                <!-- <span class="material-icons-outlined">info</span> -->
                선택하면 자동으로 추가됩니다.</P>
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="sub-th">
            기타 품목
        </td>

        <td class="sub-td" style="width:25rem;">
            <table id="order-detail-table-1" style="min-width: 400px;">
                <th>수량</th>
                <th>품목명</th>
                <th>구매소</th>
                <th>가격</th>

                <!-- 반복할 구간 -->
                <tr class="order-list">
                    <td>1</td>
                    <td>파워에이드</td>
                    <td>편의점</td>
                    <td>2,000원</td>
                </tr>
                <!-- 반복 종료 -->
            </table>
        </td>
    </tr>
    <tr">
        <td></td>
        <td></td>
        <td>
            <button type="submit">+추가</button>
        </td>
    </tr>

    <tr>
        <td>&nbsp</td>
    </tr>
    <tr>
        <td>&nbsp</td>
    </tr>

    <th class="th-paper-table">배송지 정보</th>
    <td class="sub-th">배송지명</td>
    <td class="sub-td">
        <select name="address-list" value="">
            <option value="">집</option>
            <option value="">자취방</option>
            <option value="">기숙사</option>
        </select>
    </td>
    <tr>
        <td></td>
        <td class="sub-th">주문자명</td>
        <td class="sub-td">
            <input name="input-cus" type="text" aria-label="주소" class="form-control" style="background-color: #D4E2C2;" placeholder="주문자명">
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="sub-th">연락처</td>
        <td class="sub-td">
            <input name="input-phone" type="text" aria-label="주소" class="form-control" style="background-color: #D4E2C2;" placeholder="연락처">
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="sub-th">주소</td>
        <td class="sub-td">
            <div class="sub-td input-group">
                <input name="input-adress" type="text" aria-label="주소" class="form-control" style="background-color: #D4E2C2;" placeholder="주소">
                <input name="input-post" type="text" aria-label="우편번호" class="form-control" style="background-color: #D4E2C2;" placeholder="우편번호">
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="sub-th">요청사항</td>
        <td class="sub-td">
            <input name="input-etc" type="text" aria-label="요청사항" class="form-control" style="background-color: #D4E2C2;" placeholder="예) 배송 전 연락주세요">
        </td>
        
        <!-- <td class="sub-td" style="background-color: #D4E2C2;">문 앞에 놓아주세요.</td> -->
    </tr>

   
    <tr>
        <td>&nbsp</td>
    </tr>
    <tr>
        <td>&nbsp</td>
    </tr>



    <th class="th-paper-table">결제 정보</th>
    <td class="sub-th">상품 가격</td>
    <td class="sub-td" >20,000원</td>
    <tr>
        <td></td>
        <td class="sub-th">쿠폰 사용</td>
        <td class="sub-td">첫 구매 할일(-2,000)</td>
    </tr>
    <tr>
        <td></td>
        <td class="sub-th">포인트 사용</td>
        <td class="sub-td" style="background-color: #EEEEEE; border-radius: 1em;">
            <span style="text-align: left;">3,000</span>
            <span style="text-align: right;">(사용 가능 적립금 4,500)</span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td class="sub-th">배달료</td>
        <td class="sub-td">0</td>
    </tr>
    <tr>
        <td></td>
        <td class="sub-th">결제 수단</td>
        <td class="sub-td">
            <table>
                <tr>
                    <td>카드 결제</td>
                    <td>무통장 입금</td>
                    <td>휴대전화</td>
                </tr>
                <tr>
                    <td>카카오 페이</td>
                    <td>네이버 페이</td>
                </tr>
            </table>
        </td>
    </tr>

    <td colspan="3" style="text-align: center;">결제 금액의 일부는 장봐구니 라이더에게 전달됩니다<br>
        주문 내용을 확인하였으며, 개인정보 수집 정보 제공에 동의합니다</td>

</table>
</article>

<article class="section" id="container-right">
    <div class="rider-info">
        <p>배달원 정보</p>
        <div class="profile-box">
            <img src="{% static 'orderrequest/images/donut-image.jpg' %}" class="profile-image" alt="프로필사진">
        </div>
        <p>스피드 ★★★</p>
        <p>신선도 ★★★</p>
        <p>정확도 ★★★</p>
    </div>

    <div style="align-items: center;">
        <table class="credit-table table">
            <tbody>
              <tr>
                <th scope="row" style="text-align: right;">기본가격</th>
                <td >20,000원</td>
              </tr>
              <tr>
                <th scope="row" style="text-align: right;">할인가격</th>
                <td>-2,000원</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>-3,000원</td>
              </tr>
              <tr>
                <th scope="row" style="text-align: right;" >배송가격</th>
                <td>+2,000원</td>
              </tr>
              <tr style="border-top: white solid 2px !important;">
                <th scope="row" style="text-align: right;">최종 결제금액</th>
                <td>17,000원</td>
              </tr>
            </tbody>
          </table>
    </div>
</>
</article>
</div>

{% endblock %}

